@import "../../Variable";

.account {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;

    &_img {
      display: flex;
      flex-direction: column;
      align-items: center;

      & img {
        width: 111px;
        height: 111px;
      }

      & button {
        color: $primary-color;
        border: none;
        background: transparent;
        cursor: pointer;
      }
    }

    &_mail {

    }
  }

  &__settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__btn {
    margin-top: 50px;
  }

}

.setting {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 350px;
  background: #fff;
  margin: 0 auto;
  padding: 15px;
  border-radius: 20px;
  margin-top: 10px;

  &__item {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
}