@import '../../Variable';
.cart {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  	margin: 0 auto;
	padding-bottom: 170px;
	position: relative;

	&__product {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
	}
}