// Variable
$primary-color: #667080;
$secondary-color: #eef1f4;
$bcg-color: #fffefc;
$bcg-shop: #f8f8f8;
$bcg-slide: rgba(255, 255, 255, 0.40);
$border-radius-btn: 50px;
$border-radius: 18.31px;
$box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.10);